<h2>User info</h2>
<!--profile_image-->
<%= image_tag @user.get_profile_image(100,100) %>
<!--profile-->
<table class="table">
  <tbody>
    <!--name-->
    <tr>
      <th>name</th>
      <th><%= @user.name %></th>
    </tr>
    <!--introduction-->
    <tr>
      <th>introduction</th>
      <th><%= @user.introduction %></th>
    </tr>
  </tbody>
</table>

<br>
<!--profile edit-->
<div class="row">
  <% if @user.id == current_user.id %>
    <%= link_to edit_user_path(user.id), class: 'btn btn-outline-secondary btn-block' do %>
      <i class="fa fa-user-cog"></i>
    <% end %>
  <% else %>
    <%= link_to user_path(current_user.id), class: 'btn btn-outline-secondary btn-block' do %>
      <i class="fa fa-user-cog"></i>
    <% end %>
  <% end %>
</div>

<p id="noticce"></p>
