<p id="noticce"></p>
<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'layouts/user_info', user: @user, book: @book %>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <!--profile_image-->
            <td>
              <%= image_tag @user.get_profile_image(100,100) %>
              <br>
              <%= link_to @user.name, user_path(@user.id) %>
            </td>
            <!--title-->
            <td>
              <%= link_to @book.title, book_path(@book.id) %>
            </td>
            <!--body-->
            <td>
              <%= @book.body %>
            </td>
            <% if @book.user == current_user %>
              <!--edit-->
              <td>
                <%= link_to "Edit", edit_book_path(@book.id), class: 'btn btn-sm btn-success' %>
              </td>
              <!--destroy-->
              <td>
                <%= link_to "Destroy", book_path(@book.id), method: :delete, class: 'btn btn-sm btn-danger', "data-confirm" => "本当に消しますか?" %>
              </td>
            <% end %>

          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>